.overlay {
    position: fixed; /* Use fixed positioning */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background: linear-gradient(135deg, #a8e6cf 0%, #dcedc1 50%, #ffd3b6 100%);
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Blue */
    border-radius: 50%;
}

.overlay-small-spinner {
    position: absolute; /* Use absolute positioning to limit scope */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half the spinner's width/height */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above most elements, but not menus */
    pointer-events: none; /* Allow clicks to pass through the spinner */
}

.spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}
